* {
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,25,51,1) 50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    margin: 0;
    min-height: 100vh;
}

.pword-container {
    background-color: rgba(9,51,102,.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: .5px solid #167bf7;
    border-radius: .3125em;
    font-size: 1rem;
    min-width: 500px; 
}

.pword-container h1{
    text-align: center;
}

.pword-header {
    padding: 1rem;
}

.pword {
    background-color: #051933;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pword button {
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pword:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

#message {
    position: absolute;
    display: none;
}

.pword-body {
    margin-top: 50px;
    padding: 0 1rem 1rem;
}

div.pword-body > .form-control:nth-child(1) input {
    width: 50px; 
} 

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.genr {
    background-color: #167bf775;
    border-radius: .3125em;
    border: 2px solid #167bf7;
    font-family: inherit;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    transition: .2s;
}

.genr:hover {
    transition: .2s;
    background-color: #167bf7b6;
}

.genr:active {
    transition: .1s;
    background-color: #167bf7;
}

@media screen and (max-width: 480px) {
    .pword-container{
        min-width: 350px; 
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .pword-container{
            min-width: 400px; 
        }
}